<section class="py-5" *ngIf="movie">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-lg-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="..." /></div>
      <div class="col-md-6">
        <h1 class="display-5 flex-xxl-wrap-reverse">{{movie.title}}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through"></span>
          <span></span>
        </div>
        <p class="lead">
          {{movie.overview}}
        </p>
        <div class="d-flex">
        </div>
      </div>
    </div>
  </div>
</section>
